<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu -->
    <menuitem id="menu_finance_legal_statement"
              name="Financial Reports"
              parent="account.menu_finance_reports"
              sequence="1"/>

    <!-- Balance Sheet Menu -->
    <menuitem id="menu_account_report_bs"
              name="Balance Sheet"
              sequence="5"
              action="action_account_report_bs"
              parent="menu_finance_legal_statement"
              groups="account.group_account_user,account.group_account_manager"/>

    <!-- Profit & Loss Menu -->
    <menuitem id="menu_account_report_pl"
              name="Profit and Loss"
              sequence="6"
              action="action_account_report_pl"
              parent="menu_finance_legal_statement"
              groups="account.group_account_user,account.group_account_manager"/>
</odoo>